.profile__info-title {
  max-width: 294px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 39px;
  margin: 0;
  padding: 0; 
}


@media screen and (max-width: 1023px) {
  .profile__info-title {
    font-size: 26px;
    line-height: 33px;
   
  }
}

