.cards__item-like {
  background: none;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  max-width: 22px;
  width: 100%;
  min-height: 19px;
  padding: 0;
}